.panel {
  display: inline-table;
  border-spacing: 0.5rem;
  text-align: right;
  width: fit-content;
  align-self: flex-end;
}

.panel > label {
  display: table-row;
}

.panel > label > * {
  display: table-cell;
}

.panel > label > *:nth-child(n + 1) {
  width: fit-content;
}

.panel > label > *:nth-child(0) {
  width: fit-content;
}
