.piano {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  aspect-ratio: 2.5;
}

.key {
  border-style: solid;
  border-width: 1px 0;
  border-color: #555;
  border-right-width: 1px;
  border-radius: 0 0 0.5rem 0.5rem;
}

.c,
.cs,
.fs {
  border-left-width: 1px;
}

.black {
  background-color: #333;
  height: 55%;
  z-index: 2;
  margin: 0 -50%;
}

.black:hover {
  background-color: #222;
}

.black:active {
  background-color: #000;
}

.white {
  background-color: #eee;
  z-index: 1;
}

.white:hover {
  background-color: #ddd;
}

.white:active {
  background-color: #bbb;
}

/* 0, 0 */
.c {
  margin-left: calc(-100% * 0 + 100% * 12 / 7 * 0);
  margin-right: calc(100% * 1 - 100% * 12 / 7 * 1);
}

/* 2, 1 */
.d {
  margin-left: calc(-100% * 2 + 100% * 12 / 7 * 1);
  margin-right: calc(100% * 3 - 100% * 12 / 7 * 2);
}

/* 4, 2 */
.e {
  margin-left: calc(-100% * 4 + 100% * 12 / 7 * 2);
  margin-right: calc(100% * 5 - 100% * 12 / 7 * 3);
}

/* 5, 3 */
.f {
  margin-left: calc(-100% * 5 + 100% * 12 / 7 * 3);
  margin-right: calc(100% * 6 - 100% * 12 / 7 * 4);
}

/* 7, 4 */
.g {
  margin-left: calc(-100% * 7 + 100% * 12 / 7 * 4);
  margin-right: calc(100% * 8 - 100% * 12 / 7 * 5);
}

/* 9, 5 */
.a {
  margin-left: calc(-100% * 9 + 100% * 12 / 7 * 5);
  margin-right: calc(100% * 10 - 100% * 12 / 7 * 6);
}

/* 11, 6 */
.b {
  margin-left: calc(-100% * 11 + 100% * 12 / 7 * 6);
  margin-right: calc(100% * 12 - 100% * 12 / 7 * 7);
}
