.main {
  display: grid;
  max-width: 40rem;

  gap: 1rem;

  background-color: #eee;
  margin: 0 auto;
  padding: 1rem;

  grid-template-rows: minmax(auto, 50svh) repeat(2, auto);
  min-height: 100svh;
  align-items: center;
}
