.main {
  display: grid;
  box-sizing: border-box;
  max-width: 40rem;

  background-color: #eee;
  margin: 0 auto;
  padding: 1rem;

  grid-template-rows: minmax(20rem, auto) minmax(1fr, 40rem);
  min-height: 100svh;
}
